checkpoint/
.idea/
data/images/
docs/
hand_gesture_dataset/
images/
models/__pycache__/
pretrained/
runs/
utils/__pycache__/
 utils/loggers/wandb/__pycache__/
stop_gesture.mp4
OAK_CAM.py
yolov5s.pt
*.log
*.pyc